<div class="home flex flex-col items-center justify-center min-h-screen text-white text-center px-4 pt-16 md:pt-24">
  <h2 class="text-5xl font-bold animate-fade-in">Welcome to Pooja's Portfolio</h2>
  <p class="mt-4 text-4xl md:text-4xl text-gray-100">Frontend Developer | Angular | SVG | HTML | CSS | JavaScript</p>
  <a routerLink="/projects"
    class="mt-6 bg-purple-600 text-white px-6 py-3 rounded-lg text-lg hover:bg-purple-500 transition">View Projects</a>

  <!-- Skills Section -->
  <div class="skills mt-12 grid grid-cols-1 md:grid-cols-3 gap-8 w-full max-w-screen-lg">
    <!-- Frontend Skills -->
    <div>
      <h2 class="text-2xl font-bold mb-4">Frontend</h2>
      <hr>
      <br>
      <ul class="flex flex-wrap justify-center gap-6">
        <li class="flex flex-col items-center">
          <i class="fa-brands fa-angular text-red-600 text-5xl"></i>
          <span class="mt-2 text-lg">Angular</span>
        </li>
        <li class="flex flex-col items-center">
          <i class="fa-brands fa-html5 text-orange-500 text-5xl"></i>
          <span class="mt-2 text-lg">HTML</span>
        </li>
        <li class="flex flex-col items-center">
          <i class="fa-brands fa-css3-alt text-blue-500 text-5xl"></i>
          <span class="mt-2 text-lg">CSS</span>
        </li>
        <li class="flex flex-col items-center">
          <i class="fa-brands fa-js text-yellow-500 text-5xl"></i>
          <span class="mt-2 text-lg">JavaScript</span>
        </li>
        <li class="flex flex-col items-center">
          <img src="./assets/images/bootstrap.jpg" alt="bootstrap" class="w-10 h-10">
          <span class="mt-2 text-lg">Bootstrap</span>
        </li>
        <li class="flex flex-col items-center">
          <img src="./assets/images/primeng-logo.png" alt="bootstrap" class="w-10 h-10">
          <span class="mt-2 text-lg">PrimeNG</span>
        </li>
      </ul>
    </div>

    <!-- Backend and Database Skills -->
    <div>
      <h2 class="text-2xl font-bold mb-4">Backend & Database</h2>
      <hr><br>
      <ul class="flex flex-wrap justify-center gap-6">
        <li class="flex flex-col items-center">
          <i class="fa-solid fa-database text-green-500 text-5xl"></i>
          <span class="mt-2 text-lg">Oracle</span>
        </li>
        <li class="flex flex-col items-center">
          <img src="./assets/images/postgresql-icon-1987x2048-v2fkmdaw.png" alt="pg" class="w-10 h-10">
          <span class="mt-2 text-lg">Postgres</span>
        </li>
        <li class="flex flex-col items-center">
          <img src="./assets/images/cb.png" alt="couchbase" class="w-10 h-10">
          <span class="mt-2 text-lg">Couchbase</span>
        </li>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-bold mb-4">Other Skills</h2>
      <hr><br>
      <ul class="flex flex-wrap justify-center gap-6">
        <li class="flex flex-col items-center">
          <img src="./assets/images/github.png" alt="git" class="w-10 h-10 bg-gray-200">
          <span class="mt-2 text-lg">Git/GitLab/GitHub</span>
        </li>
        <li class="flex flex-col items-center">
          <img src="./assets/images/CICD.webp" alt="cicd" class="w-10 h-10 bg-gray-200">
          <span class="mt-2 text-lg">CI/CD</span>
        </li>
        <li class="flex flex-col items-center">
          <img src="./assets/images/api.png" alt="git" class="w-10 h-10 bg-gray-200">
          <span class="mt-2 text-lg">REST APIs</span>
        </li>
        <li class="flex flex-col items-center">
          <img src="./assets/images/websocket.png" alt="git" class="w-10 h-10 bg-gray-200">
          <span class="mt-2 text-lg">WebSocket APIs</span>
        </li>
      </ul>
    </div>
  </div>
</div>