/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow: auto;
  scrollbar-width: none;
  background: linear-gradient(45deg, #2b1055, #7597de, #6b46c1);
  background-size: 400% 400%; /* Makes the gradient larger for smooth animation */
  animation: gradientAnimation 15s ease infinite; /* Infinite animation */
}

/* Keyframes for gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  /* For small screens */
  body {
    font-size: 14px; /* Reduce font size */
    padding: 0 1rem; /* Add padding to the sides */
  }

  h1, h2, h3 {
    font-size: 90%; /* Reduce heading font sizes */
  }

  p {
    font-size: 0.9rem; /* Reduce paragraph font size */
    line-height: 1.5; /* Adjust line height for readability */
  }

  .container {
    max-width: 90%; /* Reduce container width */
    margin: 0 auto; /* Center the container */
  }
}

@media (min-width: 1024px) {
  /* For large screens */
  body {
    font-size: 18px; /* Increase font size */
    padding: 0 2rem; /* Add more padding to the sides */
  }

  h1, h2, h3 {
    font-size: 110%; /* Increase heading font sizes */
  }

  p {
    font-size: 1.1rem; /* Increase paragraph font size */
    line-height: 1.8; /* Adjust line height for better readability */
  }

  .container {
    max-width: 80%; /* Increase container width */
    margin: 0 auto; /* Center the container */
  }
}