/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow: auto;
    background: rgb(2,0,36);
    background: linear-gradient(56deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 77%, rgba(15,47,102,1) 100%);      
    background-size: cover; /* Prevent the gradient from repeating */
    background-attachment: fixed; /* Fix the background for smoother scrolling */
    z-index: -1;
}

/* Custom scrollbar styling */
body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #6b46c1; /* Purple color */
    border-radius: 4px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #805ad5; /* Lighter purple on hover */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #1a202c; /* Dark background for the track */
  }