<nav class="navbar fixed top-0 left-0 w-full z-50 shadow-md bg-black border-b border-gray-500">
  <div class="container mx-auto flex justify-between items-center p-4">
    <!-- Logo -->
     <div class="logo">
       <i class="fa-solid fa-address-card text-2xl text-purple-500 mr-2"></i>
       <a routerLink="/" class="text-2xl font-bold text-white"
         style="text-shadow: 2px 4px 4px rgba(236, 233, 233, 0.5);">My Portfolio</a>
     </div>

    <!-- Toggle Button (Mobile) -->
    <button (click)="toggleMenu()" class="block md:hidden text-gray-800 focus:outline-none">
      <svg class="w-8 h-8" fill="none" stroke="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Menu Items -->
    <ul [ngClass]="{ 'translate-x-0 opacity-100': isOpen, '-translate-x-full opacity-0': !isOpen }"
      class="absolute top-16 left-0 w-full md:w-auto md:static md:flex bg-gray-800 md:bg-transparent p-6 md:p-0 md:opacity-100 md:translate-x-0 transform transition-all duration-300 ease-in-out rounded-lg">
      <li class="py-2 md:px-6">
        <i class="fa-solid fa-house text-purple-500 mr-2"></i>
        <a routerLink="/" routerLinkActive="text-white" class="nav-link">Home</a>
      </li>
      <li class="py-2 md:px-6"><i class="fa-solid fa-code-branch text-purple-500 mr-2"></i>
        <a routerLink="/projects"
          routerLinkActive="text-white" class="nav-link">Projects</a>
      </li>
      <li class="py-2 md:px-6"><i class="fa-solid fa-phone text-purple-500 mr-2"></i><a routerLink="/contact"
          routerLinkActive="text-white" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>