<div class="contact flex flex-col items-center justify-center min-h-screen text-white text-center p-10">
  <h2 class="text-5xl font-bold mb-8">
    Get in Touch <i class="fa-solid fa-handshake text-purple-100 ml-2"></i>
  </h2>
  <p class="text-lg max-w-2xl mb-8">
    Find the details below for contact. </p>

  <!-- Contact Form -->
  <form class="contact-form bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-lg">
    <div class="mb-6">
      <label for="name" class="block text-left text-lg font-semibold mb-2">Name</label>
      <p class="w-full p-3 rounded-lg bg-gray-700 text-white">Pooja Gaikwad</p>
    </div>
    <div class="mb-6">
      <label for="email" class="block text-left text-lg font-semibold mb-2">Email</label>
      <p class="w-full p-3 rounded-lg bg-gray-700 text-white">poojagaikwad28603&#64;gmail.com</p>
    </div>
    <div class="mb-6">
      <label for="linkedin" class="block text-left text-lg font-semibold mb-2">LinkedIn Profile</label>
      <a href="https://www.linkedin.com/in/poojasanjaygaikwad" target="_blank" class="text-purple-400 hover:underline">
        www.linkedin.com/in/poojasanjaygaikwad
      </a>
    </div>
  </form>

  <!-- Download Resume Button -->
  <a href="assets/images/pooja_gaikwad_resume.pdf" download
    class="ripple-button mt-6 inline-block bg-green-700 text-white px-6 py-3 rounded-lg hover:bg-green-600 relative overflow-hidden">
    <i class="fa-solid fa-download ml-2"></i> Download Resume
  </a>
</div>