<div class="contact flex flex-col items-center justify-center min-h-screen text-white text-center p-10">
  <h2 class="text-5xl font-bold">Get in Touch<i class="fa-solid fa-handshake text-purple-100 ml-2"></i></h2>
  <div class="mt-6 space-y-4 text-center">
    <div class="mail">
      <a href="mailto:your.email@example.com" class="text-gray-900 text-2xl hover:underline">
        <i class="fa-solid fa-envelope-circle-check text-purple-500 text-2xl ml-2"></i> poojagaikwad28603&#64;gmail.com
      </a>
    </div>
    <br />
    <div class="linkedin">
      <a href="https://linkedin.com/in/poojasanjaygaikwad" target="_blank"
        class="text-gray-900 text-lg hover:underline">
        <i class="fa-solid fa-link text-purple-500 text-2xl ml-2"></i> LinkedIn Profile
      </a>
    </div>
  </div>
  <!-- <form class="mt-6 bg-black p-6 rounded-lg border-2 border-purple-500 w-full max-w-lg">
    <input type="text" placeholder="Your Name" class="w-full p-3 mb-3 bg-gray-800 text-white rounded">
    <input type="email" placeholder="Your Email" class="w-full p-3 mb-3 bg-gray-800 text-white rounded">
    <textarea placeholder="Your Message" class="w-full p-3 mb-3 bg-gray-800 text-white rounded"></textarea>
    <button class="w-full bg-purple-600 hover:bg-purple-500 p-3 rounded text-lg">Send Message</button>
  </form> -->
  <a href="./assets/Pooja_Gaikwad_Resume.pdf" download
    class="mt-6 inline-block bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-700">
    <i class="fa-solid fa-handshake text-purple-100 ml-2"></i> Download Resume
  </a>
</div>