<div class="contact flex flex-col items-center justify-center min-h-screen text-white text-center p-10">
  <h2 class="text-5xl font-bold">Get in Touch<i class="fa-solid fa-handshake text-purple-100 ml-2"></i></h2>
  <div class="mt-6 space-y-4 text-center">
    <div class="mail">
      <a href="mailto:your.email@example.com" class="text-gray-900 text-2xl hover:underline">
        <i class="fa-solid fa-envelope-circle-check text-purple-500 text-2xl ml-2"></i> poojagaikwad28603&#64;gmail.com
      </a>
    </div>
    <br />
    <div class="linkedin">
      <a href="https://linkedin.com/in/poojasanjaygaikwad" target="_blank"
        class="text-gray-900 text-lg hover:underline m-1">
        <i class="fa-solid fa-link text-purple-600 text-2xl ml-2"></i> LinkedIn Profile
      </a>
    </div>
  </div>

  <a href="./assets/images/pooja_gaikwad_resume.pdf" download
    class="ripple-button mt-6 inline-block bg-green-700 text-white px-6 py-3 rounded-lg hover:bg-green-700">
    <i class="fa-solid fa-download ml-2"></i> Download Resume
  </a>
</div>