.contact {
    background: url('https://source.unsplash.com/1600x900/?business,dark') no-repeat center center/cover;
    min-height: 100vh;
  }
  
.mail, .linkedin{
    display: inline-block;
    background-color: rgb(206, 209, 212);
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    //add box-shadow
    box-shadow: 0px 2px 11px 1px rgba(190, 182, 182, 0.75);
}