.about {
  color: white;
  padding: 2rem;
  text-align: center;
  overflow: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */

  h3 {
    margin-top: 2rem;
  }

  p {
    margin-top: 1rem;
    line-height: 1.8;
  }

  .experience {
    margin-top: 3rem;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 1.5rem;

        strong {
          font-weight: bold;
        }

        em {
          font-style: italic;
        }
      }
    }
  }

  /* Media Queries */
  @media (max-width: 768px) {
    /* For small screens */
    padding: 1rem;
    h3 {
      font-size: 2.5rem;
      margin-top: 1rem;
    }
    p {
      font-size: 1rem;
      margin-top: 0.5rem;
    }
    .experience {
      margin-top: 2rem;
    }
  }

  @media (min-width: 1024px) {
    /* For large screens */
    padding: 4rem;
    h3 {
      font-size: 3.5rem;
      margin-top: 3rem;
    }
    p {
      font-size: 1.25rem;
      margin-top: 1.5rem;
    }
    .experience {
      margin-top: 4rem;
    }
  }
}